{% extends "masters_app/base.html" %}
{% block content %}
    <h1>PGA Championship Comp</h1>
    <p>
        Welcome to the PGA Championship Sweepstakes. The Rules are simple:
        <ul>
            <li>The price of each player is based on their pre-tournament odds of winning, shown in the table below. </li>
            <li>Choose 3 players from the field before play starts on Thursday morning.</li>
            <li>You have a total of 150 credits to spend. </li>
            <li>Best combined score after four days wins.</li>
        </ul> 
    <h2>Tie Breaker</h2>
        <ul>
            <li>Predict the winning score for the tournament. In the case of a tie, closest to the predicted score wins.</li>
        </ul> 
    </p>
{% endblock content %}
