{% load static %}
{% block table %}
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
    <h2>Wells Fargo Leaderboard</h2>
    {% if espn %}
    <table class="styled-table">
        <thead>
            <tr>
                
                <th>Player</th>
                <th>Thru</th>
                <th>To Par</th>

            </tr>
        </thead>
        <tbody>
            {% for row in espn %}
                <td>{{row.player_id}}</td>
                <td>{{row.thru}}</td>
                <td>{{row.to_par}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% else %}
        <h3> No data</h3>
    {% endif %}
{% endblock table %}
