{% load static %}
{% block table %}
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

        .rounded-circle {
            /* min-width: 100px;
            min-height: 100px;
            max-width: 100px;
            max-height: 100px; */
            height: 100px;
            width: 100px;
        }

        .account-img {
            object-fit:contain;
            width:100px;
            height:50px;
            /* border: solid 1px #CCC */
            }
    </style>
    <h2>Sweepstakes Leaderboard</h2>
    {% if scores %}
    <table class="styled-table">
        <thead>
            <tr>
                <th> </th>
                <th>Gent</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Player 3</th>
                <th>Score</th>
                <th>Predicted Score</th>

            </tr>
        </thead>
        <tbody>
            {% for row in scores %}
                <td><img class="account-img" src="/media/{{row.image}}"></td>
                <td>{{row.user_name}}</td>
                <td>{{row.player_1}}</td>
                <td>{{row.player_2}}</td>
                <td>{{row.player_3}}</td>
                <td>{{row.score}}</td>
                <td>{{row.predicted_score}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% endif %}
{% endblock table %}
